*{
    margin: 0;
}

.logo {
    height: 50px;
    width: 50px;
    object-fit: contain;
    filter:invert(1);
    vertical-align: middle;
}

nav {
    background-color: #001A37;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-button{
    padding: 0 10px 0 10px;
    text-decoration: none;
}

nav a {
    color: white;
}
nav a:hover {
    color: white;
}
 
main {    
    margin: 10px;
}

.column{
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    padding: 10px;
    display: inline-block;
    vertical-align: top;
    margin: 3px;    
}

.column img{
    text-align: center;
}
.row {
    height: 100%;
    display: flex;
    margin: 5px auto auto auto;    
}


.article-image {
    width: 100%;
    display: inline-block;
}
.article-header{

}
.article-content {
    
}
.column-1 {
    width: 25%;
    /* width: calc(33.33% - 20px); */
}
.column-2 {
    width: 25%;
}
.column-3 {
    width: 50%;
}
