*{
    margin: 0;
}
.logo {
    height: 50px;
    width: 50px;
    object-fit: contain;
    filter:invert(1);
    vertical-align: middle;
    
}
nav {
    background-color: #001A37;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-button{
    padding: 0 10px 0 10px;
}

